* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: rgb(242, 242, 242);
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

.blue {
	color: rgb(0, 121, 211);
}

.gray {
	color: rgb(124, 124, 124);
}

.purple {
	color: #53407A;
}

.red {
	color: #ff6c6c;
}

.yellow {
	color: #FBE178;
}

.green {
	color: #4BA538;
}

.nav-two-big {
	font-size: 25px;
}

.nav-two-line-height {
	line-height: 1.1;
}



/* ==================== CRYPTO WALLETS ===================== */

.bitcoin-wallet, .ethereum-wallet {
	border: 1px solid #e5e5e5;
	height: 90px;
	padding: 10px;
	transition: all 0.2s linear;
}

.bitcoin-wallet {
	margin-bottom: 20px;
}

.bitcoin-wallet:hover, .ethereum-wallet:hover {
	border-color: rgb(0, 121, 211);
	cursor: pointer;
}

.ethereum-wallet.active {
	border-color: rgb(0, 121, 211);
}

.bitcoin-wallet-logo, .ethereum-wallet-logo, 
.bitcoin-wallet-current-price, .ethereum-wallet-current-price, 
.bitcoin-wallet-holding-amount, .ethereum-wallet-holding-amount,
.bitcoin-wallet-pct-change, .ethereum-wallet-pct-change {
	display: inline-block;
}

.bitcoin-wallet-current-price, .ethereum-wallet-current-price, 
.bitcoin-wallet-holding-amount, .ethereum-wallet-holding-amount {
	line-height: 1.2;
	margin-right: 35px;
	position: relative;
		top: 11px;
}

.bitcoin-wallet-logo, .ethereum-wallet-logo {
	margin-left: 7px;
	margin-right: 5px;
	position: relative;
		bottom: 3px;
}

.bitcoin-wallet-logo img {
	width: 60px;
}

.btc-usd-exchange-container {
	font-size: 20px;
	margin-top: 40px;
	text-align: center;
}

.btc-usd-exchange-container i {
	margin-left: 15px;
	margin-right: 15px;
}

.btc-usd-exchange-container input {
	width: 150px;
}

.ethereum-wallet-logo img {
	margin-left: 10px;
	margin-right: 10px;
	width: 40px;
}

.bitcoin-wallet-pct-change, .ethereum-wallet-pct-change {
	position: relative;
		bottom: 2px;
}

.main-container {
	background-color: rgb(242, 242, 242);
	display: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.big-container-wrapper {
	position: relative;
		top: 175px;
}

.crypto-exchange-price {
	display: inline-block;
}

.crypto-wallets-container {
	border-radius: 4px;
	margin: 0 auto;
	position: relative;
	width: 1150px;
}

#deposit div {
	margin-top: 30px;
}

#deposit img {
	margin-top: 70px;
}

.destination-address-container input {
	width: 453px;
}

.destination-address-icon {
	margin-right: 7px;
}

.donut-chart {
	text-align: center;
	padding: 20px;
}

.donut-chart img {
	width: 450px;
}

.fa-qrcode {
	color: white !important;
	margin-right: 5px;
	position: relative;
		top: 2px;
}

.exchange-price {
	display: inline-block;
}

.example-modal-qr {
	color: black !important;
	font-size: 200px !important;
}

.form-send-button {
	background-color: rgb(0, 121, 211);
	border-color: rgb(0, 121, 211);
	margin-bottom: 10px;
}

.modal-body {
	text-align: center;
}

.otp-auth-code-container i {
	margin-right: 8px;
}

.otp-auth-code-container input {
	width: 457px;
}

.pagination-container {
	margin: 0 auto;
	margin-top: 50px;
	overflow-x: auto;
	width: 749px;
}

.pagination-container nav {
	margin-top: 5px;
}

.pagination-container a {
	color: rgb(0, 121, 211);
}

.qr-container {
	display: inline-block;
}

.qr-button {
	background-color: rgb(0, 121, 211);
	border-color: rgb(0, 121, 211);
}

.qr-button span {
	font-size: 18px;
	position: relative;
		bottom: 2px;
}

.send-button-container {
	margin-top: 50px;
	padding: 15px;
	padding-bottom: 0;
	text-align: right;
}

.tabs {
	padding-left: 0;
}

.tabs li {
	color: rgb(124, 124, 124);
}

.total-value-container {
	background-color: rgb(0, 121, 211);
	color: white;
	padding: 20px;
	text-align: center;
}

.transaction-history-header {
	margin-top: 50px;
	position: relative;
}

.transaction-history-select {
	position: absolute;
		right: 0;
	width: 175px;
}

.transaction-history-table-container {
	margin: 0 auto;
	margin-bottom: 75px;
	width: 1150px;
}

.transaction-history-table-container table {
	background-color: white;
	font-size: 15px;
}

.transaction-history-table-container th {
	background-color: rgb(124, 124, 124);
	color: white;
}
.transaction-history-table-container th:first-child {
	width:16%;
}

.transaction-history-title {
	display: inline-block;
	margin-right: 10px;
}

.transaction-panels {
	padding: 20px;
	text-align: center;
}

.transaction-panels ul li {
	cursor: pointer;
	font-size: 24px;
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
	margin-right: 20px;
	transition: all 0.3s linear;
}

.transaction-panels ul li.active {
	border-bottom: 1px solid rgb(0, 121, 211);
	color: rgb(0, 121, 211);
}

.transaction-panels .panel {
	display: none;
}

.transaction-panels .panel.active {
	display: block;
}

.transfer-form i {
	color: rgb(124, 124, 124);
	font-size: 30px;
}

.transfer-recipient-username-container, .transfer-recipient-wallet-address, 
.transfer-withdrawal-address, .otp-auth-code-container, .destination-address-container {
	margin-top: 40px;
	text-align: left;
}

.transfer-recipient-username-container input, .transfer-recipient-wallet-address input {
	width: 450px;
}

.wallets-right-container input {
	border: none;
	border-bottom: 1px solid #e5e5e5;
	padding: 5px;
}

.wallets-right-container input:focus {
	border-color: rgb(0, 121, 211);
	outline: none;
}

.transfer-user-icon, .transfer-send-icon, .transfer-withdrawal-icon {
	position: relative;
		top: 6px;
}

.transfer-user-icon {
	margin-right: 8px;
}

.transfer-send-icon {
	margin-right: 10px;
}

.transfer-withdrawal-address input {
	margin-right: 15px;
	width: 453px;
}

.transfer-withdrawal-icon {
	margin-right: 7px;
}


.value-big {
	font-size: 38px;
}

.value-small {
	font-size: 18px;
}

.wallets-left-container, .wallets-right-container {
	background-color: white;
	display: inline-block;
	height: 568px;
	width: 550px;
}

.wallets-right-container {
	margin-left: 45px;
	position: absolute;
}

.wallet-selector-container {
	font-size: 20px;
	padding: 20px;
}

@media only screen and (max-width: 1165px) {
	#deposit img {
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.crypto-wallets-container {
		width: 100%;
	}

	.crypto-wallets-container h2 {
		text-align: center;
	}

	.send-button-container {
		margin-top: 15px;
	}

	.transaction-history-table-container {
		width: 95%;
	}

	.wallets-left-container, .wallets-right-container {
		display: block;
		margin: 0 auto;
		position: relative;
	}

	.wallets-left-container {
		height: auto;
	}

	.wallets-right-container {
		height: auto;
		margin-top: 50px;
	}
}

@media only screen and (max-width: 800px) {
	.pagination-container {
		width: 95%;
	}
}

@media only screen and (max-width: 640px) {
	.transaction-history-header {
		text-align: center;
	}

	.transaction-history-header select {
		display: block;
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		position: relative;
	}

	.transaction-history-header span {
		display: block;
	}
}

@media only screen and (max-width: 580px) {
	.bitcoin-wallet-current-price, .ethereum-wallet-current-price, 
	.bitcoin-wallet-holding-amount, .ethereum-wallet-holding-amount,
	.bitcoin-wallet-pct-change, .ethereum-wallet-pct-change {
		font-size: 16px;
		margin-right: 10px;
		text-align: left;
	}

	.bitcoin-wallet, .ethereum-wallet {
		text-align: center;
	}

	.bitcoin-wallet-logo, .ethereum-wallet-logo {
		display: none;
	}

	.btc-usd-exchange-container i {
		margin-top: 25px;
		margin-bottom: 10px;
		transform: rotate(90deg);
	}

	.crypto-exchange-price {
		display: block;
	}

	.qr-container {
		display: block;
		text-align: center;
		margin-top: 15px;
	}

	.send-button-container {
		text-align: center;
	}

	.send-button-container button {
		width: 100%;
	}

	.send-button-container span {
		display: block;
	}

	.transaction-panels ul li {
		font-size: 16px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.transfer-recipient-username-container input, 
	.transfer-recipient-wallet-address input,
	.transfer-withdrawal-address input,
	.otp-auth-code-container input,
	.wallets-right-container input {
		width: 85%;
	}

	.crypto-exchange-price input {
		width: 50%;
	}

	.wallets-left-container, .wallets-right-container, .donut-chart img {
		width: 95%;
	}
}

@media only screen and (max-width: 451px) {
	.transfer-withdrawal-address input {
		width: 80%;
	}
}

@media only screen and (max-width: 436px) {
	.transfer-withdrawal-address input {
		width: 80%;
	}
}